*.o
*.a

*.swp

*.mak
*.csv
*.dat
*.pop
*.prm
*.cu
*.plot

doc/*
examples/*/*.cpp
examples/*/*.hpp
examples/*/Makefile

compiler/EaseaLex.cpp
compiler/EaseaLex.hpp
compiler/EaseaParse.cpp
compiler/EaseaParse.hpp
